body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F5F0E6;
  }
  
.splash {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
.splash img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

.bio {
  display: flex;
  align-items: flex-start;
}

.bio img {
  margin-right: 1.5rem;
  max-width: 200px;
  height: auto;
  display: block;
}

  nav {
    background-color: #182B49;
  }
  
  nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: clamp(1rem, 2vw, 1.5rem);
  }
  
  /* navigation bar size */
  nav ul li a {
    display: block;
    padding: 1rem;
    -font-size: 1.2rem;
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    color: #FFCD00;
    text-decoration: none;
  }

  h1 {
    margin: 2rem 2rem 1rem 2rem;
  }

  h2 {
    margin: 2rem 2rem 1rem 2rem;
  }

  h3 {
    margin: 2rem 2rem 1rem 2rem;
  }

  p {
    margin: 2rem 2rem 1rem 2rem;
  }

  .support-footer {
    background-color: #222;
    color: #f1f1f1;
    text-align: center;
    padding: clamp(0.rem, 2vw, 1.5rem);
    margin-top: 3rem;
  }

  footer h2 {
    display: block;
    padding: 1.5rem;
    font-size: 1.2rem;
    color: #ffffff85;
    text-decoration: none;
  }

  footer p {
    display: block;
    padding: 1.5rem;
    font-size: 1.2rem;
    color: #ffffff85;
    text-decoration: none;
  }

  footer div {
    display: block;
    padding: 1.5rem;
    font-size: 1.2rem;
    color: #ffffff85;
    text-decoration: none;
  }