body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  nav {
    background-color: #182B49;
  }
  
  nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /* navigation bar size */
  nav ul li a {
    display: block;
    padding: 1.5rem;
    font-size: 1.2rem;
    color: #ffffff;
    text-decoration: none;
  }
  
  nav ul li a:visited {
    color: #FFCD00;
  }
